@charset "UTF-8";

body {
    background-color: #04BF68;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

header {
    background-image: linear-gradient(to bottom, #0654ee, #03318C);
    text-align: center;
    background-color: #03318C;
    color: white;
    padding: 0.1px;
    border-radius: 10px 10px 5px 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.449);
}

nav {
    background-color: #F2B705;
    padding: 2.5px;
    margin: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.455);
}

nav > a {
    color: black;
    text-decoration: none;
    font: bold;
}

nav > a:hover {
    color: white;
    background-color: #03318C;
    border-radius: 5px;
    margin: 1px;
    padding: 2.5px;
}

a {
    color: #03318C;
    font-weight: bold;
}

main {
    background-color: white;
    height: 2000px;
    width: 700px;
    margin: auto;
    padding: 15px;
    border-radius: 20px;
}

img {
    height: 200px;
    margin-left: 25%;
}
.video {
    margin-top: 20px;
    margin-left: 10%;
}

span {
    color: #F2CB05;
    font-weight: bold;
}

.redessociais {
    background-color: #04BF68;
    height: 250px;
    width: 700px;
    padding: 5px;
    margin-top: 15px;
    margin-left: -5px;
    border-radius: 20px 0px;
    color: black;
}

.final {
    text-align: center;
    margin-top: 12.5px;
}

footer {
    text-align: center;
    color: white;
    background-color: #03318C;
    margin: 5px;
    padding: 2.5px;
    border-radius: 5px;
}

h3 {
    background-color: #038C5A;
    padding: 10px;
    width: 680px;
    border-radius: 20px 0px;
}

h4 {
    font-size: 12px;
}