@charset "UTF-8";

/*
    em HTML é id    = em CSS é #
    em HTML é class = em CSS é .
    ----------------------------
    id só pode usar 1x
    class é múltiplos
    ----------------------------
    consigo botar id e class no msm elemento
    consigo botar mais de 1 class
*/

body {
    background-image: linear-gradient(to right, #D9C179 60%, #D9B54A);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 15px #bf3a4776;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #BF3A47;
}

#principal {
    text-align: center;
    text-shadow: 1px 1px 2px #BF3A47;
    color: white;
    background-color: #C66A4F;
}

.basico {
    color: #0b6107;
}

.intermediario {
    color: #d0bb00;
}

.avancado {
    color: #ff0019;
}

.destaque {
    background-color: #cfc6169c;
}
p {
    text-align: justify;
}