@charset "UTF-8";

/*todas as demais midias*/

/*pesquisar por typical device breakpoints
pequenas telas ate 600px
celular de 600px 768px
tablet ate 768 ate 992
desktop 992 ate 1200px
grandes telas acima de 1200px*/

@media print {

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg); /*desnecessário, pq n imprime*/
    }

    main {
        border: 2px solid black;
        width: 90vw;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    main::after {
        content: 'Texto feito por mateus hahahahhahahahahhahahahaha';
        text-decoration: overline;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#impressora {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) { /*tablet*/
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#impressora {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {/*desktop*/
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#impressora {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 1200px) {/*telas grandes*/
    body {
        background-image: url(../imagens/back-tv.jpg);

        img#phone {display: none;}
    img#tablet {display: none;}
    img#impressora {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
    }
}